.card {
    width: 650px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 10px;
    color: #fff;
    background-color: rgb(44, 22, 14);
    overflow: hidden;

    .card-header {
        display: flex;
        align-items: center;
        padding: 18px;
        cursor: pointer;
        font-weight: 300;
        font-size: larger;
        box-shadow: rgba(0, 0, 0, 0.33) 0px 2px 14px 1px;
        z-index: 1;

        .card-title {
            flex-grow: 1;
        }
    }

    .card-content {
        height: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 18px;
        color: #fff;
        background-color: rgb(44, 22, 14);
        z-index: 0;
        transition: height 0.6s ease-in-out;

        &.expanded {
            height: fit-content;
        }
    }
}