@import '../../variables.scss';

.totalizer-container {
    height: fit-content;
    width: 325px;
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-columns: auto auto auto;

    @media screen and (min-width: 1px) {
        bottom: 10px;
        right: 18px;
    }

    @media screen and (min-width: 1024px) {
        bottom: 24px;
        right: 98px;
    }

    .buttons-container {
        height: 65px;
        width: fit-content;
        background-color: $text-color;
        padding: 0 18px;
        margin: 0 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid lighten($color: $gray, $amount: 12%);
        border-radius: 10px;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
        z-index: 2;
        box-shadow: 8px 1px 9px -5px rgba(0,0,0,0.57);
        -webkit-box-shadow: 8px 1px 9px -5px rgba(0,0,0,0.57);
        -moz-box-shadow: 8px 1px 9px -5px rgba(0,0,0,0.57);

        &:hover {
            transform: scale(1.02);
            transition: transform 0.2s ease-in-out;
        }

        &.block {
            cursor: no-drop;
            opacity: 0.6;

            &:hover {
                transform: none;
                transition: none;
            }
        }

        @media screen and (min-width: 1px) {
            bottom: 10px;
            right: 214px;
        }

        @media screen and (min-width: 1024px) {
            bottom: 24px;
            right: 302px;
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: x-large;

            &.clear {
                color: $text-error;
            }

            &.confirm {
                color: $main-green;
            }
        }
    }

    .value-container {
        height: 65px;
        width: fit-content;
        background-color: $text-color;
        padding: 0 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        transition: transform 0.2s ease-in-out;
        border: 1px solid lighten($color: $gray, $amount: 12%);
        box-shadow: 8px 1px 9px -5px rgba(0,0,0,0.57);
        -webkit-box-shadow: 8px 1px 9px -5px rgba(0,0,0,0.57);
        -moz-box-shadow: 8px 1px 9px -5px rgba(0,0,0,0.57);
        font-size: larger;
        font-weight: 900;

        @media screen and (min-width: 1px) {
            bottom: 10px;
            right: 24px;
        }

        @media screen and (min-width: 1024px) {
            bottom: 24px;
            right: 112px;
        }

        .value {
            font-size: x-large;
            font-weight: 900;
            color: $main-green;
            margin-left: 4px;
        }
    }
}
