.queue-container {
    width: 100%;
    height: fit-content;
    padding: 0 6px;

    .fix-widths {
        @media screen and (min-width: 1px) {
            width: 100%;
        }
    
        @media screen and (min-width: 1024px) {
            width: 60%;
        }
    }
    
    .title {
        @extend .fix-widths;
        font-weight: 900;
        margin-top: 24px;
    
        @media screen and (min-width: 1px) {
            font-size: larger;
        }
    
        @media screen and (min-width: 1024px) {
            font-size: x-large;
        }
    }
    
    .info {
        @extend .fix-widths;
        margin: 12px 0;
        padding-left: 25px;
    
        @media screen and (min-width: 1px) {
            font-size: smaller;
        }
    
        @media screen and (min-width: 1024px) {
            font-size: medium;
        }
    }

    // .resume-container {
    // }
}